{% extends 'catalog/base.html' %}

{% load my_tags %}



{% block content %}

{% include 'catalog/includes/inc_title.html' %}
<div class="container">
    <div class="row text-center">
        {% for product in object_list %}
        <div class="col-4 d-flex">
            <div class="card mb-4 box-shadow w-100">
                <div class="card-header">
                    <img src="{{ product.image | media_filter }}">
<!--                    <h4 class="my-0 font-weight-normal">{{product.name}}</h4>-->
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">{{product.price}}</h1>
                    <ul class="list-unstyled mt-3 mb-4 text-start m-3">

                        <h4>{{product.name|truncatechars:25}}</h4>
                        <p>{{product.description|truncatechars:100}}</p>

                    </ul>
                    <button type="button" class="btn btn-lg btn-block btn-outline-primary">Купить</button>
                </div>
            </div>
        </div>
        {% endfor%}
    </div>
</div>
{% endblock%}
